/* Style for drop down menu */
.menu {
    width: 300px;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0%;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

/* Hides drop menu */
.active {
    right: 0;
}

/* Organize list in menu */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 40px;
    color: black;
}

/* Taking the same style from ul */
a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}
