.main {
    background-color: white;
    display: flex;
}

.left {
    flex: 0.5;
    overflow: hidden;
}

.right {
    flex: 0.5;
    overflow: hidden;
}

.imgContainer {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

img {
    width: 100%;
}