.main {
    background-color: white;
    display: flex;
}

.left {
    flex: 0.5;
    overflow: hidden;
}

/* .right {
    flex: 0.5;
    overflow: hidden;
} */

.imgContainer {
    width: 600px;
    height: 600px;
}

img {
    width: 80%;
}