.navbar {
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    z-index: 3;
}

.wrapper1 {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    /* grabs the color black */
    color: inherit;
    margin-right: 40px;
}

.itemContainer {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.left {
    display: flex;
    align-items: center;
}

.right {

}

/* Hamburger styles */
.hamburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

span {
    width: 100%;
    height: 3px;
    background-color: black;
    transform-origin: left;
    transition: all 2s ease;
}

