.works {
    background-color: white;
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

/* Styles for list */
.workh1 {
    font-size: 50px;
}

.workh3 {
    font-size: 20px;
    margin-left: 60px;
}

/* Work example images and font styles */
.workcontainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.example1 {
    width: 220px;
    height: 150px;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
}

.example1:hover {
    opacity: 0.2;
    z-index: 0;
}