.works {
    background-color: white;
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

/* Styles for list */
.workh1 {
    font-size: 50px;
}

.workul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
}

.workli {
    font-size: 20px;
    margin-right: 50px;
    padding: 7px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.workcontainer {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}